@using Microsoft.AspNetCore.Routing
@using Microsoft.AspNetCore.Mvc.Abstractions
@model ICollection<EndpointDataSource>

@functions {
    string GetExtendedName(Type type)
    {
        if (type.GenericTypeArguments.Length == 0)
            return type.Name;
        else
            return type.Name[0..^2] + "<" + string.Join(',', type.GenericTypeArguments.Select(a => GetExtendedName(a))) + ">";
    }
}

@{
    ViewData["Title"] = "Sitemaps";
}

<h2 class="mt-2 mb-3">@ViewData["Title"]</h2>

@foreach (var eds in Model)
{
<h4>@GetExtendedName(eds.GetType())</h4>
<ul>
    @foreach (var ep in eds.Endpoints)
    {
    <li>
        @if (!(ep is RouteEndpoint re))
        {
        <tags list="non-route" color="dark" />
        }
        else
        {
        <tags list="non-mvc" color="dark" asp-show-if="@(!re.Metadata.OfType<ActionDescriptor>().Any())" />
            if (!re.Metadata.OfType<ISuppressMatchingMetadata>().Aggregate(false, (seed, a) => seed || a.SuppressMatching))
            {
                var methods = re.Metadata.OfType<HttpMethodMetadata>().FirstOrDefault()?.HttpMethods ?? Array.Empty<string>();
        <tags list="GET" color="primary" asp-show-if="@methods.Contains("GET")" /> <tags list="POST" color="success" asp-show-if="@methods.Contains("POST")" /> <tags list="PUT" color="warning" asp-show-if="@methods.Contains("PUT")" /> <tags list="DELETE" color="danger" asp-show-if="@methods.Contains("DELETE")" /> <tags list="PATCH" color="info" asp-show-if="@methods.Contains("PATCH")" /> <tags list="OPTIONS" color="dark" asp-show-if="@methods.Contains("OPTIONS")" /> <tags list="HEAD" color="dark" asp-show-if="@methods.Contains("HEAD")" /> <tags list="TRACE" color="dark" asp-show-if="@methods.Contains("TRACE")" /> <tags list="CONNECT" color="dark" asp-show-if="@methods.Contains("CONNECT")" />
        <code>/@re.RoutePattern.RawText.TrimStart('/')</code>
            }
            else
            {
        <tags list="inert" color="secondary" />
            }
        }
        @ep.DisplayName
    </li>
    }
</ul>
}
