@model IPagedList<JobEntry>
@{
    ViewData["Title"] = "Background Jobs";
    var routeTokens = new Dictionary<string, string>();
    if (ViewData.ContainsKey("AllItems")) { routeTokens.Add("all", "true"); }
}

<h2 class="mt-2 mb-3">@ViewData["Title"]</h2>

<div class="d-none" id="paging">
    <pagination asp-all-route-data="routeTokens" bs-total-page="Model.TotalPage" bs-current-page="Model.CurrentPage" />
</div>

<div class="table-wrapper mb-4">
    <table class="data-table table table-sm table-striped" style="width:auto">
        <thead>
            <tr role="row">
                <th scope="col" class="sortable searchable">ID</th>
                <th scope="col" class="sortable searchable">type</th>
                <th scope="col" class="sortable searchable">time</th>
                <th scope="col" class="sortable searchable">file name</th>
                <th scope="col" class="sortable">status</th>
                <th scope="col" class="sortable searchable" asp-in-roles="Administrator">owner</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var job in Model)
            {
            <tr asp-action="Detail" asp-route-id="@job.JobId" role="row" data-target="gotoUrl">
                <td title="@job.JobId" use-a>@job.JobId.ToString()[0..8]</td>
                <td use-a>@job.JobType</td>
                <td use-a>@job.CreationTime.ToString("yyyy/M/dd HH:mm:ss zzz")</td>
                <td use-a>@job.SuggestedFileName</td>
                <td title="@(job.CompleteTime.HasValue ? $"complete on {job.CompleteTime:yyyy/M/dd HH:mm:ss zzz}" : "")" use-a>@job.Status</td>
                <td asp-in-roles="Administrator"><user uid="job.OwnerId" /></td>
                <td><a asp-show-if="job.Status == Jobs.Entities.JobStatus.Finished" asp-action="Download" asp-route-id="@job.JobId" title="download"><i class="fas fa-file-download"></i></a></td>
            </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $().ready(function () {
        $('.data-table').DataTable({
            "paging": false,
            "searching": true,
            "ordering": true,
            "order": [[2, 'desc']],
            "info": false,
            "autoWidth": true,
            "language": {
                "searchPlaceholder": "filter table",
                "search": "_INPUT_",
            },
            'aoColumnDefs': [
                { aTargets: ['sortable'], bSortable: true },
                { aTargets: ['searchable'], bSearchable: true },
                { aTargets: ['_all'], bSortable: false, bSearchable: false }
            ],
        });

        $('.dataTables_wrapper .row:first-child .col-md-6:first-child').html($('#paging').html());
        $('.dataTables_wrapper .pagination-sm').addClass('mb-0');
    });
</script>
